<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="newbi-web" parallel="false">
    <test verbose="1" name="trivia-web" annotations="JDK">
        <packages>
            <package name="com.ecnu.trivia.web.*">
            </package>
        </packages>
    </test>

</suite>
