<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecnu.trivia.web.game.mapper.GameMapper">

    <select id="getGameByRoomId" resultType="com.ecnu.trivia.web.game.domain.Game">
        SELECT * FROM game WHERE room_id = ${id}
    </select>

    <select id="getGameByQuestionId" resultType="com.ecnu.trivia.web.game.domain.Game">
        SELECT * FROM game WHERE question_id = ${id}
    </select>

    <insert id="addGame">
        INSERT INTO game (room_id, current_player_id, dice_number, question_id, stage, gmt_created, gmt_modified)
        VALUES (${roomId},${playerId},-1,-1,0,NOW(),NOW())
    </insert>

    <update id="updateGameStatus">
        UPDATE game
        SET
            current_player_id = ${pid},
            dice_number = ${diceNum},
            question_id = ${qid},
            stage = ${stage}
        WHERE id = ${id}

    </update>

    <select id="getAppropriateReadyRoomId" resultType="java.lang.Integer">
        SELECT t.roomId
        FROM (SELECT r.id AS roomId,count(p.id) AS playerNum
        FROM room as r left OUTER JOIN player as p ON r.id = p.room_id WHERE r.id != -1
        GROUP BY r.id
        HAVING playerNum!=${maxPlayerCount} AND playerNum!=0
        ORDER BY playerNum DESC) AS t
        LIMIT 1
    </select>

</mapper>