<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecnu.trivia.web.game.mapper.PlayerMapper">

    <update id="isReady">
        UPDATE player
        SET status = ${isReady}
        WHERE user_id = ${userID}
    </update>
    
    <select id="getPlayerCount" resultType="java.lang.Integer">
        SELECT count(*) FROM player WHERE room_id = ${roomID}
    </select>

    <insert id="addPlayer">
        INSERT INTO player (user_id, room_id, balance, position, status, gmt_created, gmt_modified)
                VALUES (${userID},${roomID},0,0,0,NOW(),NOW())
    </insert>

    <delete id="removePlayer">
        DELETE FROM player WHERE user_id=${userID}
    </delete>

    <select id="getPlayerByUserId" resultType="com.ecnu.trivia.web.game.domain.Player">
        SELECT *
        FROM
        player AS p
        WHERE
        p.user_id = ${userID}
    </select>

    <select id="getQuestionCount" resultType="java.lang.Integer">
        SELECT count(*) FROM question
    </select>

    <select id="getPlayers" resultType="com.ecnu.trivia.web.game.domain.Player">
        SELECT * FROM player
        WHERE room_id IN (
            SELECT p2.room_id FROM player AS p2
            WHERE p2.id = ${id}
        ) ORDER BY gmt_created
    </select>
</mapper>