<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecnu.trivia.web.game.mapper.RoomMapper">
    <!--<select id="getSystemBaseInfo" resultType="com.ecnu.trivia.web.common.domain.SystemInfo">-->
        <!--SELECT * FROM system_info ORDER BY gmt_modifed DESC LIMIT 0,1;-->
    <!--</select>-->
    <select id="getDeviceHisData" resultMap="DeviceDataMap">
        SELECT
        dd.*,
        f.id AS f_id,
        f.description AS f_description,
        f.address AS f_address,
        f.function_type AS f_functionType,
        f.enable AS f_enable
        FROM (
        SELECT id,device_id,function_id,value,gmt_create
        FROM device_data
        WHERE device_id = ${id}
        <choose>
            <when test="page.sort != null and page.sort != '' and page.sortby != null and page.sortby != ''">
                ORDER BY
                ${page.sortby} ${page.sort}
            </when>
            <otherwise>
                ORDER BY gmt_create
            </otherwise>
        </choose>
        ) AS dd
        LEFT JOIN function AS f ON dd.function_id = f.id
        LIMIT #{page.pageSize} OFFSET #{page.startIndex};
    </select>

    <resultMap id="DeviceDataMap" type="com.terrui.tecloud.web.device.domain.vo.DeviceDataVO" >
        <id property="id" column="id" />
        <result property="value" column="value" />
        <result property="gmtCreate" column="gmt_create" />
        <association property="function" javaType="com.terrui.tecloud.web.device.domain.Function">
            <id property="id" column="f_id" />
            <result property="description" column="f_description" />
            <result property="address" column="f_address" />
            <result property="functionType" column="f_functionType" />
            <result property="enable" column="f_enable" />
        </association>
    </resultMap>
    <select id="getDeviceDataByDeviceType" resultType="com.terrui.tecloud.web.device.domain.vo.DeviceDataListVO">
        SELECT
        t.id AS id,
        t.deviceId AS deviceId,
        t.deviceName AS deviceName,
        t.address AS address,
        t.functionId AS functionId,
        t.`value` AS `value`,
        MAX(t.gmtCreate) AS gmtCreate
        FROM
        (
        SELECT
        d.`id` AS id,
        d.`device_id` AS deviceId,
        d.`description` AS deviceName,
        f.`address` AS address,
        f.`id` AS functionId,
        dd.`value` AS `value`,
        dd.`gmt_create` AS gmtCreate
        FROM (device_data AS dd,
        `function` AS f) RIGHT OUTER JOIN
        device AS d
        ON dd.device_id
        IN
        (
        SELECT device.id FROM device,
        task WHERE device.`dev_type_id`=${id} AND device.`id` = task.`device_id`
        )
        AND f.id = dd.`function_id`
        AND d.`id`=dd.`device_id`
        ORDER BY dd.`gmt_create` DESC
        ) t
        GROUP BY deviceId,address
        ORDER BY deviceId ASC;
    </select>
</mapper>