<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecnu.trivia.web.room.mapper.RoomMapper">

    <select id="getRoomList" resultMap="RoomDataMap">
        SELECT
        r.id AS r_id,
        r.room_name AS r_roomName,
        r.status AS r_status,
        r.gmt_created AS r_gmtCreated,
        r.gmt_modified AS r_gmtModified,
        p.id AS p_id,
        p.user_id AS p_userId,
        p.room_id AS p_roomId,
        p.balance AS p_balance,
        p.position AS p_position,
        p.status AS p_status,
        p.gmt_created AS p_gmtCreated,
        p.gmt_modified AS p_gmtModified,
        u.head_pic AS u_headPic,
        u.nick_name AS u_nickName
        FROM room as r left OUTER JOIN player as p ON r.id = p.room_id
        LEFT OUTER JOIN user as u ON p.user_id = u.id WHERE r.id != -1 ORDER BY r.id
    </select>

    <select id="getRoomByPage" resultType="com.ecnu.trivia.web.room.domain.Room">
        SELECT * FROM room WHERE id != -1 LIMIT ${pno},${pagesize}
    </select>

    <update id="updateRoomStatus">
        UPDATE room
        SET status=${status}
        WHERE id=${id}
    </update>

    <update id="modifyRoomName">
        UPDATE room
        SET room_name=#{name}
        WHERE id=${id}
    </update>

    <delete id="deleteRoomById">
        DELETE FROM room WHERE id=${id}
    </delete>

    <select id="getRoomByName" resultType="com.ecnu.trivia.web.room.domain.Room">
        SELECT * FROM room WHERE room_name = #{name}
    </select>

    <insert id="addRoomByName">
        INSERT INTO room (room_name, status, gmt_created, gmt_modified)
        VALUES (#{name},0,NOW(),NOW())
    </insert>

    <select id="getRoomByPlayerID" resultType="com.ecnu.trivia.web.room.domain.Room">
        SELECT * FROM room WHERE id IN (
            SELECT p.room_id FROM player AS p WHERE p.id = ${id}
        )
    </select>

    <select id="getRoomByUserID" resultType="com.ecnu.trivia.web.room.domain.Room">
        SELECT * FROM room WHERE room.id IN (
            SELECT player.room_id FROM player
                WHERE player.user_id =(
                    SELECT u.id FROM user AS u WHERE u.id = ${id}
                )
        )
    </select>

    <select id="getRoomById" resultMap="RoomDataMap">
        SELECT
        r.id AS r_id,
        r.room_name AS r_roomName,
        r.status AS r_status,
        r.gmt_created AS r_gmtCreated,
        r.gmt_modified AS r_gmtModified,
        p.id AS p_id,
        p.user_id AS p_userId,
        p.room_id AS p_roomId,
        p.balance AS p_balance,
        p.position AS p_position,
        p.status AS p_status,
        p.gmt_created AS p_gmtCreated,
        p.gmt_modified AS p_gmtModified,
        u.head_pic AS u_headPic,
        u.nick_name AS u_nickName
        FROM room as r left OUTER JOIN player as p ON r.id = p.room_id
        LEFT OUTER JOIN user as u ON p.user_id = u.id WHERE r.id = ${id}
        ORDER BY p.balance
    </select>

    <resultMap id="RoomDataMap" type="com.ecnu.trivia.web.room.domain.vo.RoomVO" >
        <id property="id" column="r_id" />
        <result property="roomName" column="r_roomName" />
        <result property="status" column="r_status" />
        <result property="gmtCreated" column="r_gmtCreated" />
        <result property="gmtModified" column="r_gmtModified" />
        <collection property="playerList" ofType="com.ecnu.trivia.web.game.domain.vo.PlayerVO">
            <id property="id" column="p_id" />
            <result property="userId" column="p_userId" />
            <result property="roomId" column="p_roomId" />
            <result property="balance" column="p_balance" />
            <result property="position" column="p_position" />
            <result property="status" column="p_status" />
            <result property="gmtCreated" column="p_gmtCreated" />
            <result property="gmtModified" column="p_gmtModified" />
            <result property="headPic" column="u_headPic" />
            <result property="nickName" column="u_nickName" />
        </collection>
    </resultMap>

</mapper>