<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecnu.trivia.web.question.mapper.QuestionMapper">

    <select id="getQuestionById" resultType="com.ecnu.trivia.web.question.domain.Question">
        SELECT * FROM question WHERE id = ${qid}
    </select>

    <insert id="addQuestion">
        INSERT INTO question (description, type_id, choose_a, choose_b, choose_c, choose_d, answer, status, gmt_created, gmt_modified)
        VALUES (#{content},${type},#{chooseA},#{chooseB},#{chooseC},#{chooseD},${answer},0,NOW(),NOW())
    </insert>

    <delete id="deleteQuestion">
       DELETE FROM question WHERE id=${id}
    </delete>

    <select id="getQuestionById" resultType="com.ecnu.trivia.web.question.domain.Question">
        SELECT * FROM question WHERE id = ${id}
    </select>

    <update id="modifyQuestion">
        UPDATE question
        SET description = #{content},type_id = ${type},choose_a = #{chooseA},choose_b = #{chooseB},choose_c = #{chooseC},choose_d = #{chooseD},
            answer = ${answer},gmt_created = NOW(),gmt_modified = NOW()
        WHERE id = ${id}
    </update>

</mapper>