<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecnu.trivia.web.question.mapper.QuestionMapper">

    <insert id="addQuestion">
        INSERT INTO question (description, type_id, choose_a, choose_b, choose_c, choose_d, answer, status, gmt_created, gmt_modified)
        VALUES (#{content},${type},#{chooseA},#{chooseB},#{chooseC},#{chooseD},${answer},0,NOW(),NOW())
    </insert>

    <delete id="deleteQuestion">
       DELETE FROM question WHERE id=${id}
    </delete>

    <select id="getQuestionById" resultType="com.ecnu.trivia.web.question.domain.Question">
        SELECT * FROM question WHERE id = ${id}
    </select>

    <select id="getQuestionByUserId" resultType="com.ecnu.trivia.web.question.domain.Question">
        SELECT * FROM question WHERE id IN (
            SELECT question_id FROM game WHERE game.current_player_id IN (
                SELECT id FROM player WHERE user_id = ${id}
            ) AND game.room_id IN (
                SELECT player.room_id FROM player WHERE user_id = ${id}
            )
        )
    </select>

    <update id="modifyQuestion">
        UPDATE question
        SET description = #{content},type_id = ${type},choose_a = #{chooseA},choose_b = #{chooseB},choose_c = #{chooseC},choose_d = #{chooseD},
            answer = ${answer},gmt_created = NOW(),gmt_modified = NOW()
        WHERE id = ${id}
    </update>

    <select id="getQuestionList" resultType="com.ecnu.trivia.web.question.domain.Question">
        SELECT * FROM question WHERE id != -1
    </select>

    <select id="getQuestionTypeList" resultType="com.ecnu.trivia.web.question.domain.QuestionType">
        SELECT * FROM question_type
    </select>

    <select id="getQuestionTypeByQuestionTypeDescription" resultType="com.ecnu.trivia.web.question.domain.QuestionType">
        SELECT * FROM question_type WHERE name = #{description}
    </select>

    <select id="getQuestionListByQuestionTypeId" resultType="com.ecnu.trivia.web.question.domain.Question">
        SELECT *
        FROM question
        WHERE type_id = ${typeId}
    </select>

    <delete id="deleteQuestionTypeByQuestionTypeId">
        DELETE FROM question_type WHERE id = ${typeId}
    </delete>

    <insert id="addQuestionTypeByDescription">
        INSERT INTO question_type (id, name, gmt_created, gmt_modified)
        VALUES (null,#{description},NOW(),NOW())
    </insert>

    <update id="updateQuestionTypeName">
        UPDATE question_type
        SET name = #{description}
        WHERE id = ${typeId}
    </update>

    <select id="generateRandomQuestion" resultType="java.lang.Integer">
        SELECT  * FROM question AS q1
        JOIN (
             SELECT ROUND(
                 RAND() * (
                     (SELECT  MAX(id) FROM question WHERE type_id = ${type})
                     - (SELECT MIN(id) FROM question WHERE type_id = ${type})
                 ) + (SELECT MIN(id) FROM question WHERE type_id = ${type})
                ) AS qid
             ) AS q2
        WHERE
            q1.id >= q2.qid
        ORDER BY
            q1.id
        LIMIT 1
    </select>
</mapper>