<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecnu.trivia.web.rbac.mapper.UserMapper">
    <select id="getUserByAccount" resultType="com.ecnu.trivia.web.rbac.domain.User">
        SELECT *
        FROM user
        WHERE status = 0
              AND account = #{account}
              AND password = MD5(#{password})
        LIMIT 0,1
    </select>

    <select id="getUserByAccountWithoutPassword" resultType="com.ecnu.trivia.web.rbac.domain.User">
        SELECT *
        FROM user
        WHERE status = 0
        AND account = #{account}
        LIMIT 0,1
    </select>

    <select id="getUserById" resultType="com.ecnu.trivia.web.rbac.domain.User">
        SELECT *
        FROM user AS u
        WHERE u.status = 0
        AND u.id = ${id}
    </select>

    <update id="setLastLogin" >
        UPDATE user SET last_login = NOW()
        WHERE account = #{account}
    </update>

    <select id="getUserCount" resultType="java.lang.Integer">
       SELECT count(*) FROM user WHERE id != -1
    </select>

    <select id="getUserList" resultType="com.ecnu.trivia.web.rbac.domain.User">
        SELECT * FROM user WHERE id != -1 LIMIT ${pno},${PAGE_SIZE}
    </select>

    <insert id="addNewUser">
        INSERT INTO user (id, nick_name, head_pic, account,`password`, user_type, balance, status, last_login, gmt_created, gmt_modified)
        VALUES (null,#{nickName},#{headPic},#{account},MD5(#{password}),1,100000,0,NOW(),NOW(),NOW())
    </insert>

    <delete id="deleteUserById">
        DELETE FROM user WHERE id = ${userId}
    </delete>

    <update id="modifyUserInfo">
        UPDATE user
        SET `password` = #{user.password},nick_name = #{user.nickName},head_pic = #{user.headPic},
            user_type = ${user.userType},status = ${user.status},balance = ${user.balance},
            gmt_modified = NOW()
        WHERE id = ${user.id}
    </update>

    <select id="setUserRegisterInfo" resultType="com.ecnu.trivia.web.rbac.domain.User">
        INSERT INTO user (nick_name,head_pic,account,`password`,user_type,balance,status,last_login,gmt_created,gmt_modified)
        VALUES (#{nickname},#{headpic},#{account},MD5(#{password}),0,100000,0,NOW(),NOW(),NOW())
    </select>

    <select id="getUserInGame" resultType="com.ecnu.trivia.web.rbac.domain.vo.UserGameVO">
        SELECT u.nick_name AS nickName,r.room_name AS roomName ,p.`status` AS `status`,u.balance AS balance
        FROM player AS p LEFT OUTER JOIN `user` AS u on p.user_id = u.id LEFT OUTER JOIN room AS r on p.room_id = r.id
        WHERE p.id != -1
    </select>

    <update id="upload">
        UPDATE user
        SET head_pic = #{uri}
        WHERE account = #{account}
    </update>
</mapper>