<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecnu.trivia.web.rbac.mapper.UserMapper">
    <select id="getUserByAccount" resultType="com.ecnu.trivia.web.rbac.domain.User">
        SELECT *
        FROM user
        WHERE status = 0
              AND account = #{account}
              AND password = MD5(#{password})
    </select>

    <select id="getUserByAccountWithoutPassword" resultType="com.ecnu.trivia.web.rbac.domain.User">
        SELECT *
        FROM user
        WHERE status = 0
        AND account = #{account}
    </select>

    <select id="getUserById" resultType="com.ecnu.trivia.web.rbac.domain.User">
        SELECT *
        FROM user AS u
        WHERE u.status = 0
        AND u.id = ${id}
    </select>

    <select id="setLastLogin" resultType="com.ecnu.trivia.web.rbac.domain.User">
        UPDATE user SET last_login = NOW()
        WHERE account = #{account}
    </select>

    <select id="getUserList" resultType="com.ecnu.trivia.web.rbac.domain.User">
        SELECT * FROM user WHERE id != -1
    </select>

    <insert id="addNewUser">
        INSERT INTO user (id, nick_name, head_pic, account,`password`, user_type, balance, status, last_login, gmt_created, gmt_modified)
        VALUES (null,#{nickName},#{headPic},#{account},MD5(#{password}),0,100000,0,NOW(),NOW(),NOW())
    </insert>

    <delete id="deleteUserById">
        DELETE FROM user WHERE id = ${userId}
    </delete>

    <update id="modifyUserInfoWithNewPassword">
        UPDATE user
        SET `password` = MD5(#{password}),nick_name = #{nickName},head_pic = #{headPic},gmt_modified = NOW()
        WHERE id = ${userID}
    </update>

    <update id="modifyUserInfoWithoutNewPassword">
        UPDATE user
        SET `password` = #{password},nick_name = #{nickName},head_pic = #{headPic},gmt_modified = NOW()
        WHERE id = ${userID}
    </update>

    <select id="setUserRegisterInfo" resultType="com.ecnu.trivia.web.rbac.domain.User">
        INSERT INTO user (nick_name,head_pic,account,`password`,user_type,balance,status,last_login,gmt_created,gmt_modified)
        VALUES (#{nickname},#{headpic},#{account},MD5(#{password}),0,100000,0,NOW(),NOW(),NOW())
    </select>

</mapper>